<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Vue.js</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div id="app" class="container-fluid">
		<template v-if="name">
			<h1 >{{ gender == 'm' ? 'Bienvenido' : 'Bienvenida' }}, {{ name }}</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga sequi adipisci, praesentium ab in at tempore pariatur, incidunt velit soluta minima, alias autem accusamus repudiandae quibusdam vitae earum veniam.</p>
			<p>Tu nombre al reves es: {{ name.split('').reverse().join('') }}</p>
		</template>
		<p v-else>Por favor escribe tu nombre</p>

		<input type="text" v-model="name" class="form-control">

		<p v-if="!name" class="alert alert-danger">
			Este campo es obligatorio
		</p>
		<p v-if="name.length < 2" class="alert alert-danger">
			el nombre no es valido
		</p>

		<label>
			Femenino
			<input type="radio" value="f" name="gender" v-model="gender">
		</label>

		<label>
			Masculino
			<input type="radio" value="m" name="gender" v-model="gender">
		</label>
		
		<hr>

		<pre>{{ $data }}</pre>
	</div>

	<script src="../vue.js"></script>
	<script>

		new Vue({
			el: "#app",
			data: {
				name: "",
				gender: 'm'
			}
		});
		
	</script>
</body>
</html>